@import '../common/shadow.scss';
@import '../common/transition.scss';
@import '../common/media.scss';
@import '../common/color.scss';
@import '../common/variable.scss';

.main-header {
  background: #fff;
  position: relative;
  height: $headerHeight;
  display: flex;
  justify-content: center;
}

@media #{$TillDesktop} {
  .main-header {
    justify-content: flex-start;
  }
}

.main-header a {
  text-decoration: none;
}

.header-bar {
  display: flex;
  padding: 22px 0 8px 0;
  height: $headerHeight;
  z-index: 9999;
  background: #fff;
}

@media #{$TillDesktop} {
  .header-bar {
    width: 100%;
  }
}

.menu {
  cursor: pointer;
  margin: -16px 16px 0 16px;
  background: transparent;
  border: 0;
  outline: 0;
}

@media #{$Desktop} {
  .menu {
    display: none;
  }
}

.menu .line {
  margin: 4px 0;
  background: rgba(0, 0, 0, 0.64);
  height: 2px;
  width: 24px;
  border-radius: 2px;
  transform: none;
  opacity: 1;
  transition: all $transitionSpeed ease-in-out;
}

.menu .line1-container, .menu .line3-container {
  transition: all $transitionSpeed ease-in-out;
  transition-delay: $transitionSpeed;
}

.menu .line1-container {
  transform-origin: center;
}

.menu .line3-container {
  transform-origin: center;
}

/** is opening */

.menu.is-open .line1 {
  transform: translateY(4px);
}

.menu.is-open .line1-container  {
  transform: rotate(45deg) scaleX(0.8) translateY(4px);
}

.menu.is-open .line2 {
  transform: scale(0.1);
  visibility: hidden;
  opacity: 0;
}

.menu.is-open .line3 {
  transform: translateY(-4px);
}

.menu.is-open .line3-container {
  transform: rotate(-45deg) scaleX(0.8) translateY(-5px);
}


/** is closing */
.menu.is-close .line2 {
  transition-delay: $transitionSpeed;
}

.menu.is-close .line1-container, .menu.is-close .line3-container {
  transition-delay: 0s;
}

.header-menu-button {
  cursor: pointer;
  margin: 5px 10px 0 10px;
  background: transparent;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  width: 32px;
  height: 32px;

  &.is-active {
    color: $blueSelected;
  }
}

.main-title {
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  font-size: 32px;
  margin: 0;
  letter-spacing: -1px;
  width: 100%;
  display: block;
  margin: 10px 6px;
  color: $blackAlpha90;
}

@media #{$Desktop} {
  .main-title {
    margin-left: 14px;
  }
}

@media #{$Desktop} {
  .horizontal-nav {
    white-space: nowrap;
    display: flex;
    margin-left: 20px;
    height: $headerHeight;
    padding: 42px 0 8px;
    margin-right: 98px;

    .nav-item {
      color: $blackAlpha90;
      display: block;
      font-weight: 500;
      margin: 0 14px;
      font-size: 14px;
    }

    .nav-item.active {
      color: $blueSelected;
    }
  }
}

@media #{$TillDesktop} {
  .horizontal-nav {
    position: absolute;
    width: 100%;
    top: $headerHeight;
    background: #fff;
    border-top: 1px solid #f1f1f1;
    box-shadow: $elevation_2dp;
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.24s ease-in-out;
    z-index: 999;

    .nav-item {
      color: $blackAlpha90;
      display: block;
      font-weight: 500;
      padding: 20px 12px;
      text-align: center;
      border-bottom: 1px solid #f1f1f1;
    }

    .nav-item.active {
      color: $blueSelected;
    }
  }

  .horizontal-nav.is-visible {
    transform: none;
    visibility: visible;
  }
}
