@mixin typography-headline1 {
  margin: 28px 0 20px 0;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: -0.018em;
}

@mixin typography-headline2 {
  margin: 28px 0 20px 0;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: -0.018em;
}
