@import '../common/color.scss';
@import '../common/variable.scss';
@import '../common/typography';

.home-container {
  font-size: 16px;
  padding-bottom: 15px;
  max-width: $contentWidth;
  margin: 32px auto 0 auto;
  padding: 0 16px 48px 16px;

  h2 {
    @include typography-headline2;
  }

  ul {
    padding-left: 12px;

    li {
      line-height: 1.8;
    }
  }

  p {
    font-size: 15px;
  }
}
